# Deep learning
torch==2.4.1
torchvision==0.19.1
Pillow==10.4.0

# API
fastapi==0.115.0
uvicorn[standard]==0.32.0
python-multipart==0.0.20

# Experiment tracking
mlflow==2.22.1

# Data versioning
dvc==3.55.2
pathspec==0.11.2

# Monitoring
prometheus-fastapi-instrumentator==7.0.0
prometheus-client==0.21.1

# Utilities
numpy==1.26.4

# Report generation
reportlab==4.2.2
